 @model Kind

    <div class="col-12 bg-dark border-bottom text-center">
        <h2 class="text-light">Tür Düzenleme</h2>
    </div>
    <br /><br />
    <div class="row p-3 m-lg-auto border border-dark rounded form-group" style="width: 40%;">
        <form method="post">
          <div asp-validation-summary="ModelOnly" class="text danger"></div>
          <input type="hidden" asp-for="KindId"/>
          @if(Model.KindId !=0)
            {
             <p class="fs-3">Tür Güncelle</p>
            }
            else
            {
            <p class="fs-3">Tür Oluştur</p>
            }
            
            <div class="form-group row mb-3">
                <div class="">
                            <input asp-for="KindName" placeholder="Kategori isim" class="form-control" />
                            <span asp-validation-for="KindName" class="text-danger"></span>
                </div>
            </div>

             <div class="form-group row">
                        <div class="col-md-6 offset-md-3">
                            @if(Model.KindId != 0)
                            {
                                <button type="submit" class="btn btn-primary">Güncelle</button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-primary">Ekle</button>
                            }
                            <a asp-action="category" class="btn btn-warning" role="button">Geri Dön</a>
                        </div>
             </div> 
        </form>
    </div>