@model Product

<div class="row mt-4">
    <div class="col-md-6">
        <img src="/img/productImages/@Model.Picture" width="300" height="500" class="img-responsive w-100"></img>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <h1>@Model.ProductName</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <Badge color="primary">
                    <b>Ürün no:</b>
                </Badge>
                <span class="product-number">#@Model.ProductId</span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h4 id="product-price">Fiyat: @Model.Price ₺</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="description">
                   <b>Açıklama:</b>
                    @Model.ProductDescription
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-success">
                    Sepete Ekle
                </button>
            </div>
        </div>


        





    </div>
</div>