@model List<KitapSatis.Models.Category>
<div class="p-4"></div>
<div class="container">
  <footer class="row row-cols-5 py-5 my-5 border-top">
    <div class="col">
      <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      </a>
      &copy; 2022 - KitapSatis - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>



    <div class="col ml-4">
      <h5>Kategoriler</h5>
      <ul class="nav flex-column">
          @foreach (var item in Model)
                {
                    <li class="nav-item mb-2">
                     <a asp-action="Index" asp-controller="Product" asp-route-Id="@item.CategoryId" class="nav-link p-0 text-muted">
                        @item.CategoryName
                     </a>
                    </li>
                }
      </ul>
    </div>

    <div class="col">
      <h5>Bana Ozel</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
      </ul>
    </div>
    
    <div class="col border rounded ">
      <p class="fs-5 text-center">Bizi takip edin</p>
        <div class="text-center"><br/>
            <a href="https://tr-tr.facebook.com/" target="_blank" class="ml-2"><i class="bi bi-facebook"style="font-size: 2rem; color: black;"></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram "style="font-size: 2rem; color: black;"></i></a>
            <a href="https://twitter.com/" target="_blank"><i class="bi bi-twitter"style="font-size: 2rem; color: black;"></i></a>
        </div>
    </div>


  </footer>
</div>