@model List<KitapSatis.Models.Category>

<div class="container mt-2">
    <nav class="row navbar border border-dark">
        <div class="container">
            <a asp-action="Index" asp-controller="Product" asp-route-Id="" class="navbar-brand">
                Tum Kategoriler
            </a>
        @foreach (var item in Model)
        {
            <a asp-action="Index" asp-controller="Product" asp-route-Id="@item.CategoryId" class="navbar-brand">
                @item.CategoryName
            </a>
            
        }
        </div>
    </nav>
</div>