<div class="row">
    <div class="col-md-6 mt-5" style="width: 20rem;">
        <img src="/img/login.png" class="card-img-top">
    </div>
    <div class="col-md-6 mt-5 ml-2">
        <form method="post" asp-controller="Account" asp-action="ForgotPassword">


            <div class="form-group">
                <label class="col-form-label">Kullanıcı Email</label>
                <input type="email" class="form-control" name="Email">
            </div>

            <button type="submit" class="btn btn-primary btn-lg">Gönder</button>
            </form>
            <a href="/account/register" class="text-decoration-none">Üye olmak için..</a>
        
    </div>
</div>
