<div class="container mt-2">
        <nav class="row navbar border border-dark">
                <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Tooltip on bottom">
  Tooltip on bottom
</button>
        
            
        </nav>
</div>