<div class="container mt-2">
        <nav class="row navbar border border-dark">
            <div class="col-md-2">
                <a class="navbar-brand" href="~/home/Index">
                    <img src="~/img/logo.png" alt="" width="150" height="60">
                </a>
            </div>
            
            <div class="col-md-7">
                <form action="/product/index" class="d-flex">
                    <input name="q" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-primary" type="submit">ARA</button>
                </form>
            </div>
            <div class="col-md-3">
                <a href="#"> @*Favoriler *@
                    <i class="bi bi-suit-heart btn btn-outline-danger"></i></a>
            
                <a href="#"> @*Sepet *@
                    <i class="bi bi-cart btn btn-outline-primary">Sepet</i></a>
                    

                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                        data-toggle="dropdown">
                        Giriş
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="~/user/Login">Giriş Yap</a>
                        <a class="dropdown-item" href="~/user/Register">Kayıt Ol</a>
                    </div>
                </div>
        </div>
            
        </nav>
    </div>