 @model IEnumerable<KitapSatis.Models.Category>

<div class="container mt-2">
        <nav class="row navbar border border-dark">

                @*@foreach (var item in Model)
                {
                    <a href="#" class="navbar-brand">
                        @Html.DisplayFor(modelItem => item.CategoryName)
                        </a> 
                }*@
            

        

        </nav>
</div>